
@{
    ViewBag.Title = "Field";
} 
@section Styles{
    <style>
        canvas {
            background-color:cornflowerblue;
        }
    </style>
}

<h2>Field</h2>
<canvas id="board" />
@section Scripts
{
    <script src="~/Scripts/app/player.js"></script>
    <script src="~/Scripts/app/main.js"></script>

}

